
div#links {
	background-color:#1B1811;
	overflow: auto;
}
ul {
	/*below removes d bullets in a lists*/
	list-style-type: none;
}
li[id] {

	text-align: center;
	float: right;
}

li a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 14px 14px;
	color: white
}
li[id] a:hover{
	background-color: #F4C2C2;
	color:red;
}

body {
	height: 400px;
	margin: 50px;
	background-image: url("imgcss/cupcake.jpg") ;
	background-size: cover;	
}

h3 {
	font-size: 20px;
	font-family: algerian;

}

.text {
	text-align: center
}

